@font-face{
  font-family: 'great_lakes_nfregular';
  src: url('/Assets/fonts/greatlakesnf-webfont.woff2') format('woff2'),
  url('Assets/fonts/greatlakesnf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
	background-color: lightblue;
}

img.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  object-fit: cover;
  position:relative;
  height: 120px;
}


img.listpic{
}

canvas{
    padding-left: 50;
    padding-right: 0;
    margin-left: 100px;
    margin-right: auto;
    width:800px;
    float: center;
}

script{
	align-content: bottom;
}

ul.left{
	font-family: great_lakes_nfregular;
  font: inherit;
	float: left;
	width: 300px;
	word-wrap: break-word;
	list-style-type: none;
}
li{
  font-family: great_lakes_nfregular;

}